forest-fire-flows.json
[{"id":"b3588b2f.2b64e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c9286e2b.1eaf6","type":"ibmiot in","z":"b3588b2f.2b64e8","authentication":"apiKey","apiKey":"d9757bf0.ad80e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12312","applicationId":"","deviceType":"PragatiDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":120,"wires":[["9ce8fda5.68fd3","44a5575e.81bc48","a742cc1a.ff326","e39b5e01.15cdd","4e5ac615.b891e8"]]},{"id":"9ce8fda5.68fd3","type":"debug","z":"b3588b2f.2b64e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"44a5575e.81bc48","type":"function","z":"b3588b2f.2b64e8","name":"temperature","func":"global.set('t', msg.payload.temperature)\nmsg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":160,"wires":[["9ce8fda5.68fd3","f7d1eaf9.07db38"]]},{"id":"a742cc1a.ff326","type":"function","z":"b3588b2f.2b64e8","name":"humidity","func":"global.set('h', msg.payload.humidity)\nmsg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":220,"wires":[["9ce8fda5.68fd3","36e4938d.e2f05c"]]},{"id":"e39b5e01.15cdd","type":"function","z":"b3588b2f.2b64e8","name":"flame","func":"global.set('fl', msg.payload.flame)\nmsg.payload = msg.payload.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["9ce8fda5.68fd3","48dc00dd.9767b"]]},{"id":"4e5ac615.b891e8","type":"function","z":"b3588b2f.2b64e8","name":"fireHeight","func":"global.set('f', msg.payload.fireHeight)\nmsg.payload = msg.payload.fireHeight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["9ce8fda5.68fd3","7e6c7001.2b4c4"]]},{"id":"19ee7123.4dff5f","type":"http in","z":"b3588b2f.2b64e8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":250,"y":540,"wires":[["d79ebc5.bb1dd4"]]},{"id":"d2641a76.b32f88","type":"http response","z":"b3588b2f.2b64e8","name":"","statusCode":"","headers":{},"x":640,"y":540,"wires":[]},{"id":"d79ebc5.bb1dd4","type":"function","z":"b3588b2f.2b64e8","name":"","func":"msg.payload = {\n    \"temp\": global.get('t'), \n    'humidity': global.get('h'),\n    \"flames\": global.get('fl'),\n    \"fireHeight\": global.get('f')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["d2641a76.b32f88"]]},{"id":"ad665f9d.ffc3b","type":"http request","z":"b3588b2f.2b64e8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://d1cf88ff-d098-4502-8be4-2bc64779192b-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":440,"wires":[["92036cbe.a9c6"]]},{"id":"b810f2fb.ba022","type":"debug","z":"b3588b2f.2b64e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":440,"wires":[]},{"id":"cccd6962.ac3678","type":"inject","z":"b3588b2f.2b64e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":420,"wires":[["ad665f9d.ffc3b"]]},{"id":"92036cbe.a9c6","type":"function","z":"b3588b2f.2b64e8","name":"","func":"msg.payload = msg.payload.rows[0].doc\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[["b810f2fb.ba022"]]},{"id":"49b11179.0508b","type":"ui_button","z":"b3588b2f.2b64e8","name":"","group":"3fac58b4.cda638","order":2,"width":6,"height":1,"passthru":false,"label":"GET LATEST DATA FROM CLOUDANT DB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":460,"wires":[["ad665f9d.ffc3b"]]},{"id":"f7d1eaf9.07db38","type":"ui_chart","z":"b3588b2f.2b64e8","name":"","group":"3fac58b4.cda638","order":6,"width":6,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"100","ymax":"800","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8324","#aec7e8","#fb7f13","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":180,"wires":[[]]},{"id":"36e4938d.e2f05c","type":"ui_chart","z":"b3588b2f.2b64e8","name":"","group":"3fac58b4.cda638","order":20,"width":6,"height":4,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":220,"wires":[[]]},{"id":"48dc00dd.9767b","type":"ui_gauge","z":"b3588b2f.2b64e8","name":"","group":"3fac58b4.cda638","order":8,"width":6,"height":4,"gtype":"gage","title":"Flame","label":"presence","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":260,"wires":[]},{"id":"7e6c7001.2b4c4","type":"ui_gauge","z":"b3588b2f.2b64e8","name":"","group":"3fac58b4.cda638","order":22,"width":6,"height":4,"gtype":"gage","title":"Fire Height","label":"meters","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":300,"wires":[]},{"id":"d9757bf0.ad80e8","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3fac58b4.cda638","type":"ui_group","name":"Sensors","tab":"81435fa4.ced4a","order":1,"disp":true,"width":30,"collapse":false},{"id":"81435fa4.ced4a","type":"ui_tab","name":"Forest fire iot system","icon":"dashboard","order":3,"disabled":false,"hidden":false}]